# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# CocoaPods / SPM
Pods/
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets
*.env
Secrets.swift
